
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  
}


/* shared style  */
.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    text-align: center;
    
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    
    
    border-radius: 10px;
    border: none;
}


/* header  */
.header{
    background-image: url('../images/Hero-bg.png');
    
    padding-right: 0cm;

}


/* nav style */
nav{
    display: flex;
    text-decoration: none;
    align-items: center;
    
    justify-content: space-between;
    margin: 0px 200px;

}
.nav-title{
    font-weight: black;
    
    height: 150%;
    font-size: 34px;
    color: #4E47FF;
}
/* banner style */
.banner{
    max-width: 1140px;
    margin: 0px auto;
    padding: 75px 150px;
    text-align: center;

    

}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
/* section-middle */
.midle-header{
    display: flex;
    justify-content: space-between;
    width: 1123px;
    margin: 116px 0px 140px 160px;
    
}
.midle-past{
    max-width: 517px;
    padding: 50px;
}

.midle-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;

}
.midle-pera{
    font-size: 24px;
    
    color: rgba(37, 36, 50, 0.5);
}
.img{
    width: 403px;
    border-radius: 48px;
}
/* section style */
.about{
    max-width: 1440px;
    border-radius: 24px;
    text-align: center;
    padding-top: 50px;
    
    margin:116px 137px 141px 159px;
    justify-content: center;
  
    



}
.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1);
    justify-content: center;
    


}




.section-title{
    font-size: 38px;
    font-weight: bold;

    margin-bottom: 30px;
    
    color: rgba(37, 36, 50, 1);


}

.about-items{
    display: flex;
    justify-content: space-around;
    
    gap: 60px;
    flex-wrap: wrap;
}
.item-title{
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 5px;
    color: rgba(78, 71, 255, 1);
   

}
.item-description{
    font-size: 20px;
    
    color: rgba(0, 0, 0, 0.5);
    
    
    

}

/* section -testimonial style */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f8fc;
  color: #333;
}

.testimonials {
  text-align: center;
  padding: 50px 20px;
}
.matha{
    font-weight: bold;
    font-size: 42;
    color: rgba(37, 36, 50, 1);
}


.reviews {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 300px;
  text-align: left;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}




.card h3 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  color: #555;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.reviewer img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.reviewer .name {
  font-weight: bold;
  font-size: 14px;
}

.reviewer .date {
  font-size: 12px;
  color: #888;
}
/* section-hero  */

.phero{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;


  padding: 80px 20px;
  background-color: #f6f8fc;
}

.content {
  text-align: center;

  background: white;
  border-radius: 14px;
  padding: 60px 30px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 0.5) ;
  max-width: 900px;

  width: 100%;
}



.content p {
  font-size: 16px;
  color:rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}




.hero-image {
  margin-top: 40px;
}

.hero-image img {
  width: 100%;
  max-width: 720px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* section-container */

 .container {
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            
            
            
            height: 100vh;
            margin: 0;
            gap: 50px;



        }
        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-size: 97px;
            font-weight:Bold;
            
            color: rgba(0, 0, 0, 1);
            
        }
        .form-group {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .form-group label {
            font-size: 14px;
            color: rgba(0, 0, 0, 1);
        }
        .form-group input, .form-group textarea {
            padding: 10px;
            border: 1px solid rgba(255, 255, 255, 1);
            border-radius: 5px;
            font-size: 16px;
        }
        .form-group textarea {
            height: 100px;
            resize: none;
        }
        /* footer */
        .final {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .logo {
            font-size: 100px;
            font-weight: Black;
            color: rgba(78, 71, 255, 1);
            margin-bottom: 20px;
        }
        .slogan {
            font-size: 1.2em;
            color:rgba(137, 135, 161, 1);
            margin-bottom: 40px;
            max-width: 600px;
        }
        .nav {
            display: flex;
            gap: 20px;
        }
        .nav a {
            text-decoration: none;
            color:rgba(137, 135, 161, 1);
            font-size: 1em;
        }
        